.inline-block {
    display: inline-block;
}
.flexbox {
    display: flex;
}
a, a:visited {
    text-decoration-line: none;
    color: black;
} 
a:hover {
    color: grey;
}
body {
    font-family: raleway;
    flex-direction: column;
    margin: 0; padding: 0;
}
header {
    width: 100%;
    height: 26px;
    padding: 16px;
    background: white;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
}
.logo {
    font-family: raleway;
    text-transform: uppercase;
    text-decoration-line: none;
    color: black;
    font-size: 25px;
}
nav {
    font-size: 17px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    font-family: raleway;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-left: 10px; 
    margin-right: 0; 
}
.content {
    padding-top: 26px;
    flex: 1;
}
.heroImg {
    background: #a0a0f5;
    height: 500px;
    width: 100%;
    font-family: raleway;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}
.heroImg h1 {
    font-size: 50px; 
    font-weight: normal;
    margin: 0; 
}
.heroImg h2 {
    font-size: 20px;
    font-weight: normal; 
    margin-bottom: 0;
}
.grid-container {
    display: grid;
    width: 250px;
    margin-top: 20px;
    margin-left: 20px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
.grid-item {
    border: 1px solid grey;
    border-top: none;
    padding: 4px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}
.grid-item1 {
    border: 1px solid grey;
    border-top: none;
    padding: 4px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-item2 {
    border: 1px solid grey;
    border-top: none;
    padding: 4px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-item3 {
    border: 1px solid grey;
    border-top: none;
    padding: 4px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
p.grid-item {
    margin: 0;
    border-top: none;
    border: 1px solid grey;
}
.rightlap {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    padding-left: 25px;
    align-items: center;
    overflow: hidden;
}
.rightlap .project-info {
    width: 300px;
    height: 300px;
    background-color: #D97978;
    margin: 0 40px;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.triple {
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    overflow: hidden;
}
.left-mock {
    width: 700px;
    height: 600px;
}
.triple .project-info {
    width: 300px;
    height: 300px;
    background-color: #6C98C6;
    margin: 0 40px;
    padding: 20px;
    color: white;
    cursor: pointer;
}
.project-info:hover {
    opacity: .8;
}
.leftlap {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    padding-left: 25px;
    align-items: center;
    overflow: hidden;
}
.leftlap .project-info {
    width: 300px;
    height: 300px;
    background-color: #8D4546;
    margin: 0 40px;
    padding: 20px;
    color: white;
    cursor: pointer;
}
footer {
    border-top: 1px solid lightgrey;
    margin-top: 50px;
    padding-top: 6px;
}
footer img {
    height: 30px;
}
footer a:hover {
    opacity: .8;
}
@media only screen and (max-width: 600px) {
    .mock, .left-mock, .right-mock {
        display: none;
        justify-content: center;
        margin: 0;
    }
    .logo {
        font-size: 15px;
    }
    .rightlap, .leftlap, .project-info {
        padding-left: 0;
    }
    .heroImg h1 {
        font-size: 30px;
    }
    .heroImg h2 {
        font-size: 15px;
    }
    nav {
        font-size: 10px;
    }
}
