a, a:visited {
    text-decoration-line: none;
    color: black;
}
a:hover {
    color: grey;
}
body {
    font-family: raleway;
}
header {
    width: 100%;
    position: fixed; top: 0;
    padding: 16px 16px 8px;
    height: 26px;
    background: white;
}
.logo {
    font-family: raleway;
    text-transform: uppercase;
    text-decoration-line: none;
    color: black;
    font-size: 25px;
}
.inline-block {
    display: inline-block;
}
nav {
    float: right; margin-right: 28px;
    font-size: 17px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    font-family: raleway;
    text-transform: uppercase;
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
footer {
    border-top: 1px solid lightgrey;
    margin-top: 50px;
    padding-top: 6px;
}
footer img {
    height: 30px;
}
footer a:hover {
    opacity: .8;
}

